
body {
	background:rgba(245,248,250,1);
}

header button {
	position:absolute;
	right:10px;
	top: 10px;
}

.mesage-box {
	background-color: rgb(229, 242, 247);
}

.message-item {
	border-bottom:1px solid #d3d3d3;
	padding:20px;
	background-color: white;
}


.time {
	color: #9d9d9d;
}

#arrows {
	float: right;
}

.arrow-buttons {
	width: 30px;
	height: 30px;
	margin-left:3px;
	margin-right:3px;
}

#oh-name {
	cursor: pointer;
}